* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: logo-font;
  src: url("/fonts/Norse-Bold.otf");
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  color: rgb(37, 37, 37);
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}
.image-section {
  width: 30%;
  height: 100%;
  background-color: blue;
}
.form-section {
  width: 70%;
  height: 100%;
}
.bg-image {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.caption {
  width: 100%;
  height: 120px;
  background-color: rgba(4, 197, 123, 0.589);
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.caption-image img {
  width: 80px;
  height: auto;
}

.caption-text {
  font-family: logo-font;
  color: white;
  font-size: 80px;
}

.photo-rights {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.photo-rights a {
  text-decoration: underline;
  color: white;
}

.form-section .header {
  width: 100%;
  height: 30%;
  padding: 20px;
  padding-top: 50px;
  font-weight: 500;
}
.form-section .header p:first-child {
  width: 450px;
  line-height: 20px;
  margin-bottom: 15px;
}
.form-section .content {
  height: 40%;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.form-section .footer {
  width: 100%;
  height: 30%;
  padding: 20px;
}

.content form {
  margin-top: 10px;
}
.content {
  box-shadow: #ccc 1px 3px 5px 1px;
}
.form-element {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.form-control label {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.form-control input {
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
.form-control input:focus {
  border-color: rgb(4, 197, 123);
}

.footer button {
  border: none;
  background: rgb(4, 197, 123);
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}
.footer a {
  text-decoration: none;
  color: rgb(4, 197, 123);
}
